NODE_ENV=development
PORT=3333
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

POSTGRES_DB=church_api
POSTGRES_USER=church_api
POSTGRES_PASSWORD=church_api

DATABASE_URL=postgresql://church_api:church_api@localhost:5432/church_api?schema=public
DATABASE_URL_DOCKER=postgresql://church_api:church_api@postgres:5432/church_api?schema=public
